@use "../../index" as *;

.Myfooter {
  .container {
    margin-bottom: 0%;
    height: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .navbar-brand {
    .logo {
      display: flex;
      max-height: 30px;
      scale: 1.3;
      filter: drop-shadow(0 0 0.5rem $pink-neon-off);
      @include animation("flicker 7s infinite");
    }
  }
  .text {
    color: $pink-neon-off;
    display: flex;
    @include animation("flicker 7s infinite");
  }
  a {
    color: $pink-neon-off !important;
    text-decoration: none !important;
    margin-left: 5px;
    align-items: center;

    @include animation("flicker 7s infinite");

    &:hover {
      color: $pink-neon-on !important;
      font-weight: bolder;
      text-shadow: $pink-neon-off 1px 0 10px;
    }
  }
}
